.invest-section .fp-tableCell{
    background: url(../img/invest.jpg) no-repeat center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}